/* CSS BY JASON COTHERN */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS REST */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --font: Playfair Display, serif;

    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}
/* GLOBAL STYLES (mobile first/small) */
*{
    box-sizing: border-box;
}

body{
    max-width: 400px;
    margin: 0 auto;
    font-family: var(--font);
    color: var(--dark-charcoal);
    
    background-color: var(--soft-white);
    line-height: 1.5;
}


header{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

header img{
    max-width: 200px;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

h3{
    font-size: 1.5rem;
}

header p{
    font-style: italic;
}

nav ul{
    background-color: var(--champagne-gold);
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem;
    
}

nav a {
    color: var(--dark-charcoal);
    font-weight: bold;
    text-decoration: none;
    
}

#about-us{
    padding: 2rem 0;
}


#about-us p{
    font-size: 1rem;
    
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 1rem;
}


#offerings section{
    background-color: var(--olive-green);
    color: var(--soft-white);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--dark-charcoal);
}

#offerings {
    border-bottom: 2px solid var(--champagne-gold);
}
#offerings ul {
	margin-top: 0.5rem;
	padding-left: 1rem;
}
#offerings li {
	list-style-type: disc;
	margin-bottom: 0.5rem;
}

#gallery{
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 1rem;
}

#gallery a{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--olive-green);
    color: var(--soft-white);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem; 
}

#gallery figure{
	text-align: center;
	margin-bottom: 2rem;
    background-color: var(--soft-white);
    border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#gallery img {
    width: 100%;
	max-width: 100%;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	
}

#gallery figcaption {
	font-style: italic;
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

footer{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    padding: 2rem 0;
    text-align: center;
}

footer a{
    color: var(--champagne-gold);
    text-decoration: none;
}


/* MEDIA QUERY (medium) */
/* MEDIA QUERY (large) */
/* MEDIA QUERY (xl) */